/* actvidades destacadas */
.card{
    margin-bottom: 20px;
}

.card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* quienes somos */
#imagenCentro{
    max-width: 90vh;
}

/* carrusel */
/* altura principal */
#carruselActividades .carousel-inner {
    height: 500px;
}

#carruselActividades .carousel-item {
    height: 100%;
}

/* ancho flechas */
#carruselActividades .carousel-control-prev, #carruselActividades .carousel-control-next{
    width: 5%;
}

/* agrupo las flechas */
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
}




.boton-flotante {
    position: fixed; 
    bottom: 30px; 
    left: 50%;
    transform: translate(-50%, -50%);   
    width: 130px;
    text-align: center;    
    z-index: 10;   
    color: white;
}